body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5dc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: clamp(1rem, 23px, 3vw);
}

.top {
  width: min(80vw, 500px);
  display: flex;
  justify-content: space-around;
}

.game-settings {
  width: min(90vw, 450px);
  display: grid;
  grid-template-columns: 1em min(20vw, 120px) 1fr;
  column-gap: 6%;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}

.level {
  margin: 0;
  appearance: none;
  border-radius: 50%;
  width: 1em;
  aspect-ratio: 1 / 1;
  border: 2px solid #999;
  transition: 0.2s all linear;
}

.level:checked {
  border: 2px solid black;
  background-color: rgb(114, 236, 0);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 8px;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(114, 236, 0), rgb(255, 166, 0));
  background-size: 0% 100%;
  background-repeat: no-repeat;
  border: 2px solid #999;
}

.slider::-webkit-slider-runnable-track {
  box-sizing: border-box;
  width: 100%;
  height: 16px;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 26px;
  width: 10px;
  border-radius: 5px;
  margin-top: -4px;
  background-color: rgb(40, 83, 0);
  border:2px solid rgb(40, 83, 0);
  cursor: ew-resize;
}

.bombs-qty {
  justify-self: center;
}

.bottom {
  width: min(80vw, 500px);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  gap: 1%;
}

.bottom>span:nth-child(even) {
  justify-self: start;
}

.bottom>span:nth-child(odd) {
  justify-self: end;
}

.btn {
  width: min(calc(80vw /4), calc(500px / 4));
  aspect-ratio: 3 / 1;
  display: block;
  background-color: inherit;
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0);
  transition: 0.2s all;
}

.btn:hover {
  cursor: pointer;
  background-color: revert;
}

.field {
  display: flex;
  flex-wrap: wrap;
  width: min(90vw, 500px);
  aspect-ratio: 1 / 1;

}

.card {
  background-color: rgb(114, 236, 0);
  outline: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.card_easy {
  width: 10%;
  height: 10%;
  font-size: clamp(10px, 3.5vw, 25px);
}

.card_medium {
  width: 6.65%;
  height: 6.65%;
  font-size: clamp(5px, 3vw, 20px);
}

.card_hard {
  width: 4%;
  height: 4%;
  font-size: clamp(5px, 2vw, 12px);
}

.card_bomb {
  background-color: rgb(129, 0, 0);
}

.card-1 {
  color: aqua;
}

.card-2 {
  color: red;
}

.card-3 {
  color: rgb(83, 83, 255)
}

.card-4 {
  color: orange;
}

.card-5 {
  color: rgb(255, 0, 255);
}

.card-6 {
  color: rgb(255, 64, 0);
}

.card-7 {
  color: rgb(255, 117, 26);
}

.card-8 {
  color: rgb(181, 20, 255);
}

.card:hover {
  cursor: pointer;
  background-color: rgb(65, 134, 0);
}

.card_active {
  background-color: rgb(40, 83, 0);
}

.ico {
  font-size: 1.2em;
}

.ico__time_active {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}